
.label{
    -fx-font-size: 20px;
}

.btnClick{
    -fx-background-color: orange;
}
.root{
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-padding: 50;
     -fx-font-family: consolas;
}

#btn2{
    -fx-text-fill: white;
}
.btnClick:hover{
    -fx-background-color: lightblue;
    -fx-cursor: hand;
}

.title {
 -fx-font-weight: bold;
 -fx-font-size: 40px;
 -fx-padding: 30px;
}

.btnReset{
    -fx-background-color: red;
     -fx-text-fill: white;
}

.btnReset:hover{
 -fx-background-color: orange;
}